<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Order Management App</span>
      <button [routerLink]="routerLinkHomeVariable" mat-icon-button class="home-icon-spacer">
        <mat-icon>home</mat-icon>
      </button>
      <span class="project-name-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
</mat-toolbar>